{% from "macros/table.html" import table %}
{% from "macros/pagination.html" import pagination %}
{% from "macros/modal.html" import modal_shell %}

{% extends "master.html" %}

{% block body %}
<div class="container mt-10">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold"></h2>
    </div>

    <div class="table-container card shadow p-4 rounded bg-white border-0">
        <table class ="table table-responsive">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Course ID</th>
                    <th>Title</th>
    
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}
