{% extends "master.html" %}

{% block body %}
<div class="container mt-8">
    <h1 class="mb-4">Welcome to Biblioplex</h1>

    <div class="grid grid-cols-3 gap-4 mb-8">
        <div class="card">
        <div class="card-header">Enrollment</div>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <div class="card-footer">
            <a href = "{{url_for('site_enrollment.enroll')}}">
                <button class="btn btn-primary">Enroll Courses</button>
            </a>
        </div>
        </div>
        
        <div class="card">
        <div class="card-header">Course Catalog</div>
        <div class="card-body">
            Praesent eget felis vitae justo efficitur venenatis.
        </div>
        <div class="card-footer">
            <a href ="{{url_for('site_enrollment.catalog')}}">
                <button class="btn btn-primary">View Courses</button>
            </a>
        </div>
        </div>
        
        <div class="card">
        <div class="card-header">View Class Schedule</div>
        <div class="card-body">
            Nullam efficitur tortor at magna placerat, eget congue orci imperdiet.
        </div>
        <div class="card-footer">
            <a href ="{{url_for('site_enrollment.classes_term', term='S25')}}">
                <button class="btn btn-primary">View Schedule</button>
            </a>
        </div>
        </div>
    </div>
</div>
{% endblock %}
