{% extends "master.html" %}

{% block body %}
<div class="container mt-8">
    <form class="flex flex-col gap-4 mx-auto mb-8" method="post" style="max-width: 480px">
        <h1 class="mb-4">Log In</h1>
        <input id="username" name="username" class="form-input" placeholder="Username or Email" type="text">
        <input id="password" name="password" class="form-input" placeholder="Password" type="text">
        <a class="mx-auto"><button class="btn btn-primary">Log In</button></a>
    </form>
</div>
{% endblock %}